body{
  /* background-color:purple; */
  background-image: url('Assets/purple background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

h1{
  text-align:center;
}

p{
  text-align:center;
}
