#firstname:focus{
  outline: medium solid pink;
  border-radius: 4px;
  outline-offset: -2px;
}

#lastname:focus{
  outline: 2px solid cyan;
  outline-offset: -2px;
  border-radius: 4px;
}

input[type=radio]:focus{
  outline: 2px solid pink;
  border-radius: 50;
}

/* body{
  background-image: url("")
} */
